
server {
    listen 80;

    # 
    # This vhost will be enabled by /entrypoint.sh with the 'run_zed' or 'run_both' argument
    # 

    server_name {{ getv "/public/zed/domain" }};

    keepalive_timeout 0;
    access_log  /data/logs/zed-access.log extended;

    root /data/shop/public/Zed;

    set $application_env {{ getv "/application/env" }};
    set $application_store {{ getv "/spryker/shop/cc" }};

    include "spryker/zed.conf";
}
